{% load staticfiles %}

<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Event Registration Form Widget Flat Responsive Widget Template :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
-->
<link rel="stylesheet" href="{% static 'signup/style.css' %}">
<link rel="stylesheet" href="{% static 'signup/jquery-ui.css' %}">

<!-- js -->
<script type="text/javascript" src="{% static 'signup/jquery-2.1.4.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- banner -->
	<div class="center-container">
		<div class="main">
			<h1 class="w3layouts_head">Event Registration Form</h1>
      {% block content %}
      {% csrf_token %}

              <div class="w3layouts_main_grid">
                <form action="#" method="post" class="w3_form_post">
                  {% csrf_token %}
									<h1>Please Register to Continue</h1>

              {% for field in form %}
              <div class="w3_agileits_main_grid w3l_main_grid">
                    <span class="agileits_grid">
                      {% if not field.label == "Password confirmation" %}
                      <label> {{ field.label }} </label>
                      {% else %}
                      <label> Confirm </label>
                      {% endif %}
                      {{ field }}
                      <br>
                      {% for error in field.errors %}
                      <span class="agileits_grid">
                      <label style="color: red">Error:</label>
                      <p style="color: red">{{ error }}</p>
                    </span>
                      {% endfor %}
                    {% endfor %}
                  </span>
                  </div>
              {% endblock %}
						<div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Date of Birth </label>
								<div class="agileits_w3layouts_main_gridl">
									<input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>
								<div class="agileits_w3layouts_main_gridr">
                  <!--  <label>No.of persons </label> -->
                    <select name="country">
                      <option value="none" selected="" disabled="">Year</option>
                      {% for i in loop_times %}
                        <option value={{ i }}> {{ i }} </option>
                      {% endfor %}
                    </select>
                  </span>
								</div>
									<div class="clear"> </div>

										<label>I am a:</label>
										<ul>
											<li>
												<input type="radio" id="a-option" name="selector1">
												<label for="a-option">Student</label>
											</li>
											<li>
												<input type="radio" id="b-option" name="selector1">
												<label for="b-option">Parent</label>
											</li>
										</ul>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>

		<!-- Calendar -->
			<link rel="stylesheet" href="{% static 'signup/jquery-ui.css'%}" />
				<script src="{% static 'signup/jquery-ui.js' %}"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
          <div class="w3_main_grid_right">
            {% csrf_token %}
          <center><input  type="submit" value="Submit"></center>
          {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
      </div>
                  </form>
    </div>
		<br>
		<center><a href="/signin"><font color="#2a9d4b"><strong><u> Already a member? <u><strong></font></a><center>
		<!-- //Calendar -->
    <!--
			<div class="w3layouts_copy_right">
				<div class="container">
					<p>© 2017 Event Registration Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
				</div>
			</div>
		</div>
	</div>
  -->
<!-- //footer -->
</body>
</html>
