{%extends "main/home.html"%}
{%load staticfiles%}
{% block content %}

<html lang="en-us" >
<head>
<title>Log in | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />




<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="36000">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/admin/">Enter your credentials</a></h1>

        </div>


    </div>

    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">

<div id="content-main">
{% csrf_token %}
<form action="/" method="post" id="login-form"><input type='hidden' name='csrfmiddlewaretoken' value='O2AJ6i8IZeDPMAPkFueVrspWuzSDsutyLBzv6wWsNQUo8VXEm7YQZKgtHyavJmXh' />
  <div class="form-row">
    {% csrf_token %}
    <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus required id="id_username" maxlength="254" />
  </div>
  <div class="form-row">

    <label class="required" for="id_password">Password:</label> <input type="password" name="password" required id="id_password" />
    <input type="hidden" name="next" value="/admin/" />
  </div>


  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
</form>

</div>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
    {%endblock%}
</body>
</html>
