<!-- Inventory -->
{%extends "main/home.html"%}

{% block content %}
<br><br><br>
<h1 style="text-align:center;">Instruments detail</h1>
<h3 style="margin-left:30%;">{{inv.type}}</h3>
<h5 style="margin-left:30%;">{{inv.condition}}</h5>
{% endblock %}
