<!-- Inventory -->
{%extends "main/home.html"%}

{% block content %}
    <br><br><br>
    <h1 style="text-align:center;">Instruments</h1>
    {% for i in object_list %}
        <h3 style="margin-left:30%;"><a href="/{{i.id}}">{{ i.type }}</h3>
    {% endfor %}
{% endblock %}
